---
// Components
import MySiteLayout from '../../layouts/MySiteLayout.astro';
import Main from '../../components/ui/PageMain.astro';

// Function
import { getBlogs, getCategories } from '../../library/microcms';

export async function getStaticPaths() {
	const response = await getCategories({ fields: ['id', 'name'] });
	return response.contents.map((content: any) => ({
		params: { id: content.id },
        props: { name: content.name },
	}));
}

const { id } = Astro.params;
const { name } = Astro.props;
const blogsResponse = await getBlogs({ filters: `category[contains]${id}` });
console.log(blogsResponse);
---

<MySiteLayout title={`${name}カテゴリー一覧`} pagePath={`/category/${id}`}>
    <Main title={`${name}カテゴリー一覧`} />
    <section class="bg-gray-700 py-36">
        <ul class="mx-auto w-11/12">
            {
                blogsResponse.contents.map((content: any, index: number) => {
                    return <a class={`border-t ${(blogsResponse.totalCount - 1 === index) && 'border-b'} border-white border-solid block text-[2vw] py-8 text-white`} href={`/news/${content.id}`}><li>{content.title}</li></a>
                })
            }
        </ul>
    </section>
</MySiteLayout>